extends include/layout.pug

block content
    div.container.mt-3
        h1.display-5 Create new Position

        form(method='POST')
            label.form-label(for="name") 
            input.form-control#name(type="text", placeholder="Enter Position Name" name="name" aria-describedby="UIDHelp" required)
            br
            button.btn.btn-primary.btn-lg.px-4.gap-3.me-2.mb-2(type="submit") Create new Position
